<form>
  <h2 class="text-center">Sign in, please!</h2>
  <div class="mb-3">
    <label for="Email" class="form-label">Email address</label>
    <input name="email" required type="email" class="form-control" id="Email">
  </div>
  <div class="mb-3">
    <label for="Password" class="form-label">Password</label>
    <input name="password" type="password" required minlength="6"
      class="form-control" id="Password">
  </div>
  <button type="submit" class="btn btn-outline-danger">Submit</button>
</form>